.container__AboutMe{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    
}
.container__AboutMe h1{
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 4em;
    display: flex;
}
.title{
    display: flex;
    align-items: start;
}
.container_texts{
    display: flex;
    flex-direction: row;
    width: 80%;
    padding: 0;
    margin-top: 0;
}
.picture_div{
    height: 70vh;
    width: 40%;
    border: 1px solid #C68107;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    background-image: radial-gradient(circle, #000000, #C68107);
}
.text_div{
    width: 40%;
    text-align: justify;
    font-size: 1.5em;
}
.btn_aboutme{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-size: .7em;
    background-image: radial-gradient(circle, #000000, #C68107);
}