.container__Contact{
    display: flex;
    margin: auto;
    width: 90%;
    height: 100vh;
    align-items: center;
    flex-direction: column;
}
.title_contact h1{
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 4em;
    display: flex;
    justify-content: start;
    width: 70vw;
    height: 15vh;
    margin-bottom: 50px;
    
}
.div_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.icons_contact{
    width: 600px;
    height: 250px;
    text-align: justify;
    font-size: 1em;
    margin: 20px 0;
    border: 1px solid;
}
.div_icons {
    display: flex;
    height: 15vh;
    width: 50vw;
    justify-content: space-around;
    align-items: center;
    font-size: 40px;
    transform: 0.1s ease-in-out;
    cursor: pointer;
    border: 1px solid;
    
}
.div_icons :hover{
    transform: scale(1.5); 
}
