.container__Contact{
    display:flex;
    flex-direction: column;
    height: 100vh;
}
.title_contact h1{
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 4em;
    display: flex;
    justify-content: end;
    border: 1px solid;
    
}
.div_icons{
    display: flex;
    flex-direction: row;
    width: 75%;
    height: 65vh;
    border: 1px solid;
    margin: auto;
    padding:0;
}
.icons_contact{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 30%;
      
}
.icons_contact h2{
    margin-bottom: 5px;
}
.icons_contact p{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.text_contact{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    border: 1px solid;
    
}
.set_input input{
    display: flex;
    flex-direction: column;
    width: 11vw; 
}
.set_form{
    display: flex;
}
