@media (max-width: 1030px) {
    .imgs_site {
        width: 85vw;
        padding: 1vh 1vw;
    }
}

@media (max-width: 900px) {
    .imgs_site {
        width: 90vw;
        padding: 1vw 1vw;
    }
}

@media (max-width: 520px) {
    .title_experience h1{
        font-size: 1.5em;
        margin-top: 6.5vh
    }
    .imgs_site{
        width: 90vw;
        height: auto;
        flex-direction: column;
        font-size: 0.5em;
        padding: 1vh 0;
    }
    .imgs_site p{
        width: 75vw;
    }
    img{
        height: 30vh;
        width: 60%;
        margin-bottom: 1vw;
    }
}