.container__Experience{
    display: flex;
    margin: auto;
    width: 90%;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none;
    
}
.container__Experience::-webkit-scrollbar {
    display: none; 
  }
.container__Experience h1{
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 4em;
    display: flex;
}
.title_experience{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 70vw;
    height: 15vh;
}

.imgs_site{
    display: flex;
    background-image: radial-gradient(circle, #000000, #ad6f04);
    width: 70vw;
    height: auto;
    padding: 5px;
    align-items: center;
    border-radius: 10px;
}
.imgs_site p{
    width: 55%;
    text-align: justify;
    color: #b1b1b1;
}
img{
    width: 40vw;
    height: 70vh; 
    margin-right: 15px; 
    border-radius: 10px;
}