.container__cookie{
    position: fixed;
    bottom: 10px;
    right: 7vw;
    background-color: transparent;
    font-size: 1.2em;
    padding: 20px;
    border-radius: 10px;
    box-sizing: 0 2px 4px rgba(0,0,0,0.2);
    border: 2px solid #e6bd0760;
    
    
}
.btn_cookie{
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #ad6f05;
    background-image: radial-gradient(circle, #332604, #C68107);
    padding: 4px 10px; 
    margin:0 2px;
}